@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --color01: #093;
    --color02: #F66420;
    --color03: #009933;
}
* {
    margin: 0px;
    padding: 0px;
    font-family: "Ubuntu",  sans-serif;
}
body,  html {
    display: block;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url(pexels-kindel-media-6994265.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
}
header {
    background-color: var(--color03);
    padding: 10px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);
}
header > div > p {
    text-indent: 10px;
    color: white;
    font-size: 0.9em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.438);
    padding-bottom: 10px;
}
header > div > h1 {
    text-align: center;
    padding-bottom: 10px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.438);
    letter-spacing: 3px;
    font-weight: bold;
}
main {
    position: absolute;
    width: 70vw;
    background-color: white;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px 35px 30px 35px;
    border-radius: 0px 0px 15px 15px;
}
#subtitle {
    background-color: #F66420;
    border-radius: 20px;
    color: white;
    padding: 10px;
    margin-bottom: 25px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);
}
#subtitle > h2 {
    text-align: center ;

}
#subtitle > p {
    text-align: center  ;
}
#from {
    text-align: center ;
}
.conteudo > h2 {
    background-color: #009933;
    border-radius: 20px;
    color: white;
    margin: 15px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);
}
.conteudo > p.conteudo, .conteudo > h2 {
    text-align: center;
}
.conteudo > p.conteudo { 
    padding-bottom: 25px;
    background-color: #F66420;
    border-radius: 20px;
    color: white;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);
}
ul {
    padding: 10px;
}
p.link {
    margin-top: 20px;
    text-align: center;
    background-color: #009933;
    display: block;
    color: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);
}
p.link > a.container{
    text-decoration: none;
    color: white;
}
p.link > a.container:hover {
    text-decoration: underline;
    color: #F66420;
}